apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: 620409902285.dkr.ecr.us-east-1.amazonaws.com/demo-frontend
  newName: 620409902285.dkr.ecr.us-east-1.amazonaws.com/demo-frontend
  newTag: 07c318e7
resources:
- ../../base
patchesStrategicMerge:
- front-deployment-patch.yaml 
- front-service-patch.yam
